In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Loading Dataset

In [67]:
stock_exchange_mk = pd.read_csv('data_mse_mse_historic_data_active.csv', sep='\t', parse_dates=['Date'])

In [77]:
df = pd.DataFrame(stock_exchange_mk)
df["stock_id"] = df["stock_id"].astype('category')
df.columns = df.columns.str.lower()

In [99]:
ALK = df[df.stock_id == 'ALK']

In [107]:
len(ALK.date)

4519

In [108]:
groupby_day = ALK.groupby(pd.PeriodIndex(data=ALK.date, freq='D'))
results = groupby_day.sum()

In [111]:
idx = pd.period_range(min(ALK.date), max(ALK.date))
results.reindex(inx, fill_value=0)

,open,high,low,close,volume,adj close,quantity,average,change %,volume total,ratio,ratio 1m,ratio 3m,ratio 6m,ratio 1y,ratio 2y,ratio 3y
1997-01-09,1070.0,1070.0,1070.0,1070.0,279270,1070.0,261,1070.00,0.00,279270,0.077,0.085,0.085,0.082,0.080,0.080,0.080
1997-01-10,0.0,0.0,0.0,0.0,0,0.0,0,0.00,0.00,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1997-01-11,0.0,0.0,0.0,0.0,0,0.0,0,0.00,0.00,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1997-01-12,0.0,0.0,0.0,0.0,0,0.0,0,0.00,0.00,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1997-01-13,0.0,0.0,0.0,0.0,0,0.0,0,0.00,0.00,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-21,12223.0,12290.0,12289.0,12290.0,614476,12290.0,50,12289.52,-0.05,614476,0.885,0.978,0.978,0.944,0.922,0.922,0.922
2020-08-22,0.0,0.0,0.0,0.0,0,0.0,0,0.00,0.00,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2020-08-23,0.0,0.0,0.0,0.0,0,0.0,0,0.00,0.00,0,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2020-08-24,12290.0,12290.0,12289.0,12290.0,73738,12290.0,6,12289.67,0.00,73738,0.885,0.978,0.978,0.944,0.922,0.922,0.922
2020-08-25,12290.0,12222.0,12200.0,12200.0,3660440,12200.0,300,12201.47,-0.72,3660440,0.878,0.971,0.971,0.937,0.916,0.916,0.916

In [106]:
len(idx)

8630